<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand text-warning" href="{{ path('app_home') }}">Orange Bleu My admin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_admin') }}"><i class="bi bi-boxes fs-4"> </i>Administration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_user') }}"><i class="bi bi-people fs-4"> </i>Compte utilisateurs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_mail_access') }}"><i class="bi bi-envelope-paper fs-4"></i> Email</a>
                    </li>
                    <li class="nav-item">
                        <a type="button" class="nav-link btn btn-warning" href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>
                {% elseif is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_contact') }}"><i class="bi bi-envelope-paper fs-4"></i> Nous Contacter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_my_account') }}"><i class="bi bi-nut fs-4"></i> Parametres</a>
                    </li>
                    <li class="nav-item">
                        <a type="button" class="nav-link btn btn-warning" href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a type="button" class="nav-link btn btn-success text-light" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>