{% extends 'base.html.twig' %}

{% block title %}Accueil orange bleu my apps{% endblock %}

{% block body %}
    <style>
        .img2{
            background-image: url("https://cdn.pixabay.com/photo/2015/10/30/10/02/matrix-1013610_960_720.jpg");

            background-size: cover;

            background-color: rgba(0,0,0,0.60);
        }
        .img{
            background-image: url("https://www.interval.fr/wp-content/uploads/2021/06/interval-home-carousel.jpg");
            background-position: top;

            background-color: rgba(0,0,0,0.60);
        }
        .jumb{
            background-color: rgba(0,0,0,0.60);
            height: 100vh;
        }
    </style>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="jumbotron img2 text-light">
            <div class="jumb">
                <h1 class="display-4 text-warning pt-5 ms-3">Bienvenue {{ app.user.civility }} {{ app.user.name }}  {{ app.user.firstname }}</h1>
                <p class="lead ms-3">Rendez-vous dans la page d'administration pour commencer!</p>
                <hr class="my-4">
                <p class="ms-3">Ajoutez, supprimez et gérez vos utilisateurs</p>
            </div>
        </div>
    {% elseif is_granted('ROLE_USER') %}
        <div class="jumbotron mt-5 ms-3">
            <div>
                <h1 class="display-4 text-warning">Bienvenue sur Votre espace personnel</h1>
                <p class="lead ms-3">Vous pouvez dès à présent voir vos salles, visualiser vos permissions et utiliser vos modules</p>
                <hr class="my-4">
            </div>
        </div>
        <main class="container mb-5">
            <div class="row justify-content-around">
                <a class="mt-5 p-0 col-11 col-md-5 col-lg-5 col-xl-3 card text-decoration-none shadow" href="{{ path('app_user_hall_test') }}">
                    <div>
                        <img class="card-img-top" height="350px" src="{{ asset('images/hall/usersalle.png') }}" alt="Card image cap">
                        <div class="card-body bg-primary">
                            <p class="card-text  text-center text-warning">Accéder, modifier et supprimer les gérants de salles.</p>
                        </div>
                    </div>
                </a>
                <a class="mt-5 p-0 col-11 col-md-5 col-lg-5 col-xl-3 card text-decoration-none shadow" href="{{ path('app_user_module') }}">
                    <div>
                        <img class="card-img-top" height="350px" src="{{ asset('images/hall/usermodule.png') }}" alt="Card image cap">
                        <div class="card-body bg-primary">
                            <p class="card-text  text-center text-warning">Accéder, modifier et supprimer les salles.</p>
                        </div>
                    </div>
                </a>
                <a class="mt-5 p-0 col-11 col-md-5 col-lg-5 col-xl-3 card text-decoration-none shadow" href="{{ path('app_user_permission') }}">
                    <div>
                        <img class="card-img-top" height="350px" src="{{ asset('images/hall/userperm.png') }}" alt="Card image cap">
                        <div class="card-body bg-primary">
                            <p class="card-text text-center text-warning">Accéder, modifier et supprimer les gérants de franchises.</p>
                        </div>
                    </div>
                </a>
            </div>
    {% else %}
            <div class="jumbotron img text-light">
                <div class="jumb">
                    <h1 class="display-4 text-warning pt-5 ms-3">Bienvenue sur Orange Bleu My apps</h1>
                    <p class="lead ms-3">Orange Bleu My apps vous permet de visualiser vos partenaires ainsi que votre fiche client. Vous aurez accès à vos modules selon vos permissions.</p>
                    <hr class="my-4">
                    <p class="ms-3">Pour commencer, connectez-vous pour utiliser l'application ou contacter un administrateur</p>
                    <a class="btn btn-warning btn-lg ms-5 mb-5" href="{{ path('app_login') }}" role="button">Connexion</a>
                </div>
            </div>
        </main>

    {% endif %}
{% endblock %}

