{% extends 'base.html.twig' %}

{% block title %}My Apps | Ajouter un Gérant{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <h1 class="m-5">Ajouter un Gérant</h1>

    <div class="container">

        <div class="col-3 text-center mt-3 form-check form-switch fs-2">{{ form_row(form.isActive) }}</div>
        <div class="row justify-content-around shadow">
            <div class="col-5 text-center mt-3">{{ form_row(form.name) }}</div>
            <div class="col-5 text-center mt-3">{{ form_row(form.firstname) }}</div>
            <div class="col-5 text-center mt-3">{{ form_row(form.phone) }}</div>
            <div class="col-5 text-center mt-3">{{ form_row(form.city) }}</div>
            <div class="col-11 text-center mt-3">{{ form_row(form.mail) }}</div>
            <div class="col-11 text-center mt-3">{{ form_row(form.commercialPhone) }}</div>
        </div>
        <button class="btn btn-outline-warning m-5 align-self-end">Ajouter</button>
    </div>

    {{ form_end(form) }}
    {{ dump() }}
{% endblock %}