{% extends 'base.html.twig' %}

{% block title %}Mes Salles{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-around">
            {% for hall in halls %}
                {% if hall.leader.user.email == user.email %}
            <h1>Mes salles</h1>
                    <div class="card mb-5 mt-5 p-0 bg-secondary rounded shadow {{ hall.isactive ? '' : 'opacity-50' }}">
                        <div class="card-header  justify-content-between bg-primary text-light">
                            <div class="{{ hall.isactive ? 'text-light' : 'text-danger' }} mt-2 fs-2 row col-12 justify-content-between">
                                <p class="text-center col-12 col-md-6">Salle: {{ hall.name }} </p>
                                <a type="button" class="btn btn-outline-warning col-12 col-md-6" href="{{ path('app_user_hall_permission', { id: hall.id }) }}">Modules de votre salle: {{ hall.name }}</a>
                            </div>
                            <p class="text-danger">{{ hall.isActive ? '' : 'Cette salle est désactivée' }}</p>
                        </div>
                            <div class="row">
                                <img alt="image de salle de sport" class="col-12 col-md-5 " height="400px" src="{{ vich_uploader_asset(hall, 'imageFile') }}">
                                <div class="card-text mt-2  pt-3 col-6 fs-4 row justify-content-around">
                                    <div class="row col-12">
                                        <p class="col-12 text-primary">Adresse:</p>
                                        <p class="col">{{ hall.streetNumber }} {{ hall.adress }} {{ hall.postalCode }} {{ hall.city }}</p>
                                    </div>
                                    <div class="row col-12">
                                        <p class="col-12  text-primary">Téléphone:</p>
                                        <p class="col">{{ hall.phone }}</p>
                                    </div>
                                    <div class="row col-12">
                                        <p class="col-12 text-primary">Déscription:</p>
                                        <p class="col-12">{{ hall.shortDescription }}</p>
                                    </div>
                                    <p class="text-danger fs-4">{{ hall.isactive ? '' : 'Votre salle n\'est pas en activitée actuellement' }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% elseif hall.leaderHall.user.email == user.email %}
                    <h1>Ma salle</h1>
                    <div class="card mb-5 col-12 mt-5 p-0 bg-secondary rounded shadow {{ hall.isactive ? '' : 'opacity-50' }}">
                        <div class="card-header d-flex justify-content-between bg-primary text-light">
                            <div class="{{ hall.isactive ? 'text-light' : 'text-danger' }} mt-2 fs-2">
                                <p class="text-center">Salle: {{ hall.name }} </p>
                            </div>
                            <p class="text-danger">{{ hall.isActive ? '' : 'Cette salle est désactivée' }}</p>
                        </div>
                        <div class="card-body row p-0">
                            <div class="row card-title mt-3">
                                <h5 class="col-12 col-md-5 fs-4 ms-3"> Gérant: {{ hall.leader.civility}} {{ hall.leader.name}} {{ hall.leader.firstname}}</h5>
                                <div class="col-12 col-md-5 d-flex justify-content-end">
                                    <a type="button" class="btn btn-outline-warning" href="{{ path('app_user_hall_permission', { id: hall.id }) }}">Modules de votre salle: {{ hall.name }}</a>
                                </div>
                            </div>
                            <div class="row">
                                <img alt="image de salle de sport" class="col-12 col-md-5 " height="400px" src="{{ vich_uploader_asset(hall, 'imageFile') }}">
                                <div class="card-text mt-2 pt-3 col-6 fs-4 row justify-content-around">
                                    <div class="row col-12">
                                        <p class="col-12 text-primary">Adresse:</p>
                                        <p class="col">{{ hall.streetNumber }} {{ hall.adress }} {{ hall.postalCode }} {{ hall.city }}</p>
                                    </div>
                                    <div class="row col-12">
                                        <p class="col-12  text-primary">Téléphone:</p>
                                        <p class="col">{{ hall.phone }}</p>
                                    </div>
                                    <div class="row col-12">
                                        <p class="col-12 text-primary">Déscription:</p>
                                        <p class="col-12">{{ hall.shortDescription }}</p>
                                    </div>
                                    <p class="text-danger fs-4">{{ hall.isactive ? '' : 'Votre salle n\'est pas en activitée actuellement' }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
