{% extends 'base.html.twig' %}

{% block title %}Modules{% endblock %}

{% block body %}


    <div class="container mt-5">
        <h1>Accès aux modules</h1>
        <div class="row justify-content-around">
            {% for hall in halls %}
                {% if hall.leader.user.email == user.email %}
                <div class="card col-md-5 col-11 mt-5 p-0">
                        <img class="card-img-top" alt="image de salle de sport" height="400px" src="{{ vich_uploader_asset(hall, 'imageFile') }}">
                    <div class="card-body">
                        <h5 class="card-title">Salle: {{ hall.name }}</h5>
                        <p class="card-text">Accéder à vos modules</p>
                        <a type="button" class="btn btn-outline-warning" href="{{ path('app_user_hall_permission', { id: hall.id }) }}">Modules de votre salle</a>
                    </div>
                </div>
                {% elseif hall.leaderHall.user.email == user.email %}
                    <div class="card col-md-5 col-11 mt-5 p-0">
                        <img class="card-img-top " alt="image de salle de sport" height="400px" src="{{ vich_uploader_asset(hall, 'imageFile') }}">
                        <div class="card-body">
                            <h5 class="card-title">Salle: {{ hall.name }}</h5>
                            <p class="card-text">Accéder à vos modules</p>
                            <a type="button" class="btn btn-outline-warning" href="{{ path('app_user_hall_permission', { id: hall.id }) }}">Modules de votre salle</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
