{% extends 'base.html.twig' %}

{% block title %}My Apps | Mes Permission{% endblock %}

{% block body %}

    <h1 class="m-5">Mes permissions</h1>
    <div class="container">
        <div class="row justify-content-between">
            <p class="col">Il y'a {{ permissions.getTotalItemCount }} permissions au total</p>
        </div>
        {% if not permissions.items is same as ([]) %}
            <div class="row justify-content-around">
                {% for item in permissions.items %}
                    <div class="card col-5 mt-4 p-0 rounded shadow border border-primary">
                        <div class="card-header d-flex justify-content-between">
                            <h5 class=" mt-2 lh-lg text-primary">Permissions pour la salle: <br> {{ item.name }} </h5>
                            <div class="form-check disabled">
                                <label class="form-check-label" for="flexCheckChecked">En activité</label>
                                <input class="form-check-input" type="checkbox" value="" disabled="" id="flexCheckChecked" {{ item.isactive ? 'checked=""' : '' }}>
                            </div>
                        </div>
                        {% if item.permissions is same as null %}
                            <h3 class="m-5 text-danger text-center fs-4 lh-lg">Attention cette salle n'a pas de permission, veuillez contacter un administrateur pour vous accorder des permissions</h3>
                        {% else %}
                        <div class="card-body">
                            <div class="card-text mt-3 row justify-content-center">
                                <div class="col-10 mt-2">
                                    <div class="form-check disabled">
                                        <label class="form-check-label" for="flexCheckChecked">Vendre des boissons</label>
                                        <input class="form-check-input" type="checkbox" value="" disabled="" id="flexCheckChecked" {{  item.permissions.isSellDrinks  ? 'checked=""' : '' }} >
                                    </div>
                                </div>
                                <div class="col-10 mt-2">
                                    <div class="form-check disabled">
                                        <label class="form-check-label" for="flexCheckChecked">Modifier le statut d'un membre</label>
                                        <input class="form-check-input" type="checkbox" value="" disabled="" id="flexCheckChecked" {{ item.permissions.isMembersWrite ? 'checked=""' : '' }} >
                                    </div>
                                </div>
                                <div class="col-10 mt-2">
                                    <div class="form-check disabled">
                                        <label class="form-check-label" for="flexCheckChecked">Accès au statut d'un membre</label>
                                        <input class="form-check-input" type="checkbox" value="" disabled="" id="flexCheckChecked" {{ item.permissions.isMembersRead ? 'checked=""' : '' }} >
                                    </div>
                                </div>
                                <div class="col-10 mt-2">
                                    <div class="form-check disabled">
                                        <label class="form-check-label" for="flexCheckChecked">Ajouter un membre</label>
                                        <input class="form-check-input" type="checkbox" value="" disabled="" id="flexCheckChecked" {{ item.permissions.isMembersAdd ? 'checked=""' : '' }} >
                                    </div>
                                </div>
                                <div class="col-10 mt-2">
                                    <div class="form-check disabled">
                                        <label class="form-check-label" for="flexCheckChecked">Voir les statistiques d'un membre</label>
                                        <input class="form-check-input" type="checkbox" value="" disabled="" id="flexCheckChecked" {{ item.permissions.isMembersStatistiqueRead ? 'checked=""' : '' }} >
                                    </div>
                                </div>
                                <div class="col-10 mt-2">
                                    <div class="form-check disabled">
                                        <label class="form-check-label" for="flexCheckChecked">Modifier les échéanciés de paiement </label>
                                        <input class="form-check-input" type="checkbox" value="" disabled="" id="flexCheckChecked" {{ item.permissions.isPaymentSchedulesWrite ? 'checked=""' : '' }} >
                                    </div>
                                </div>
                                <div class="col-10 mt-2">
                                    <div class="form-check disabled">
                                        <label class="form-check-label" for="flexCheckChecked">Accès aux échéanciés de paiement </label>
                                        <input class="form-check-input" type="checkbox" value="" disabled="" id="flexCheckChecked" {{ item.permissions.isPaymentSchedulesAdd ? 'checked=""' : '' }} >
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="navigation d-flex justify-content-center mt-5">
        {{ knp_pagination_render(permissions) }}
        {% else %}
        <h2 class="mt-5">Il n'y a pas de permissions pour le moment</h2>
        {% endif %}
    </div>

    {{ dump() }}
{% endblock %}
