{% extends 'base.html.twig' %}

{% block title %}Mes Permission{% endblock %}

{% block body %}

    <h1 class="m-5">Mes permissions</h1>
    <div class="container">
        {% if not halls.items is same as ([]) %}
            <div class="row justify-content-around">
                {% for hall in halls %}
                    {% if hall.leader.user.email == user.email %}
                    <div class="card col-lg-5 col-12  mt-5 p-0 rounded shadow {{ hall.isactive ? '' : 'opacity-50' }}">
                        <div class="card-header d-flex justify-content-between bg-primary">
                            <h5 class=" mt-2 lh-lg {{ hall.isactive ? 'text-light' : 'text-danger' }}">Salle: {{ hall.name }} </h5>
                            <p class="text-danger">{{ hall.isActive ? '' : 'Cette salle est désactivée' }}</p>
                        </div>
                        {% if halls.items is same as null %}
                            <h3 class="m-5 text-danger text-center fs-4 lh-lg">Attention cette salle n'a pas de permission, veuillez contacter un administrateur pour vous accorder des permissions</h3>
                        {% else %}
                        <div class="card-body">
                            <div class="card-text mt-3 row justify-content-center">
                                <div class="col-10 mt-2">
                                    <div class="form-check disabled">
                                        <label class="form-check-label" for="flexCheckChecked">Vendre des boissons</label>
                                        <input class="form-check-input" type="checkbox" value="" disabled="" id="flexCheckChecked" {{  hall.permissions.isSellDrinks  ? 'checked=""' : '' }} >
                                    </div>
                                </div>
                                <div class="col-10 mt-2">
                                    <div class="form-check disabled">
                                        <label class="form-check-label" for="flexCheckChecked">Modifier le statut d'un membre</label>
                                        <input class="form-check-input" type="checkbox" value="" disabled="" id="flexCheckChecked" {{ hall.permissions.isMembersWrite ? 'checked=""' : '' }} >
                                    </div>
                                </div>
                                <div class="col-10 mt-2">
                                    <div class="form-check disabled">
                                        <label class="form-check-label" for="flexCheckChecked">Accès au statut d'un membre</label>
                                        <input class="form-check-input" type="checkbox" value="" disabled="" id="flexCheckChecked" {{ hall.permissions.isMembersRead ? 'checked=""' : '' }} >
                                    </div>
                                </div>
                                <div class="col-10 mt-2">
                                    <div class="form-check disabled">
                                        <label class="form-check-label" for="flexCheckChecked">Ajouter un membre</label>
                                        <input class="form-check-input" type="checkbox" value="" disabled="" id="flexCheckChecked" {{ hall.permissions.isMembersAdd ? 'checked=""' : '' }} >
                                    </div>
                                </div>
                                <div class="col-10 mt-2">
                                    <div class="form-check disabled">
                                        <label class="form-check-label" for="flexCheckChecked">Voir les statistiques d'un membre</label>
                                        <input class="form-check-input" type="checkbox" value="" disabled="" id="flexCheckChecked" {{ hall.permissions.isMembersStatistiqueRead ? 'checked=""' : '' }} >
                                    </div>
                                </div>
                                <div class="col-10 mt-2">
                                    <div class="form-check disabled">
                                        <label class="form-check-label" for="flexCheckChecked">Modifier les échéanciés de paiement </label>
                                        <input class="form-check-input" type="checkbox" value="" disabled="" id="flexCheckChecked" {{ hall.permissions.isPaymentSchedulesWrite ? 'checked=""' : '' }} >
                                    </div>
                                </div>
                                <div class="col-10 mt-2">
                                    <div class="form-check disabled">
                                        <label class="form-check-label" for="flexCheckChecked">Accès aux échéanciés de paiement </label>
                                        <input class="form-check-input" type="checkbox" value="" disabled="" id="flexCheckChecked" {{ hall.permissions.isPaymentSchedulesAdd ? 'checked=""' : '' }} >
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% elseif hall.leaderHall.user.email == user.email %}
                        <div class="card col-5 mt-5 p-0 rounded shadow {{ hall.isactive ? '' : 'opacity-50' }}">
                            <div class="card-header d-flex justify-content-between bg-primary">
                                <h5 class=" mt-2 lh-lg {{ hall.isactive ? 'text-light' : 'text-danger' }}">Salle: {{ hall.name }} </h5>
                                <p class="text-danger">{{ hall.isActive ? '' : 'Cette salle est désactivée' }}</p>
                            </div>
                            {% if halls.items is same as null %}
                                <h3 class="m-5 text-danger text-center fs-4 lh-lg">Attention cette salle n'a pas de permission, veuillez contacter un administrateur pour vous accorder des permissions</h3>
                            {% else %}
                                <div class="card-body">
                                    <div class="card-text mt-3 row justify-content-center">
                                        <div class="col-10 mt-2">
                                            <div class="form-check disabled">
                                                <label class="form-check-label" for="flexCheckChecked">Vendre des boissons</label>
                                                <input class="form-check-input" type="checkbox" value="" disabled="" id="flexCheckChecked" {{  hall.permissions.isSellDrinks  ? 'checked=""' : '' }} >
                                            </div>
                                        </div>
                                        <div class="col-10 mt-2">
                                            <div class="form-check disabled">
                                                <label class="form-check-label" for="flexCheckChecked">Modifier le statut d'un membre</label>
                                                <input class="form-check-input" type="checkbox" value="" disabled="" id="flexCheckChecked" {{ hall.permissions.isMembersWrite ? 'checked=""' : '' }} >
                                            </div>
                                        </div>
                                        <div class="col-10 mt-2">
                                            <div class="form-check disabled">
                                                <label class="form-check-label" for="flexCheckChecked">Accès au statut d'un membre</label>
                                                <input class="form-check-input" type="checkbox" value="" disabled="" id="flexCheckChecked" {{ hall.permissions.isMembersRead ? 'checked=""' : '' }} >
                                            </div>
                                        </div>
                                        <div class="col-10 mt-2">
                                            <div class="form-check disabled">
                                                <label class="form-check-label" for="flexCheckChecked">Ajouter un membre</label>
                                                <input class="form-check-input" type="checkbox" value="" disabled="" id="flexCheckChecked" {{ hall.permissions.isMembersAdd ? 'checked=""' : '' }} >
                                            </div>
                                        </div>
                                        <div class="col-10 mt-2">
                                            <div class="form-check disabled">
                                                <label class="form-check-label" for="flexCheckChecked">Voir les statistiques d'un membre</label>
                                                <input class="form-check-input" type="checkbox" value="" disabled="" id="flexCheckChecked" {{ hall.permissions.isMembersStatistiqueRead ? 'checked=""' : '' }} >
                                            </div>
                                        </div>
                                        <div class="col-10 mt-2">
                                            <div class="form-check disabled">
                                                <label class="form-check-label" for="flexCheckChecked">Modifier les échéanciés de paiement </label>
                                                <input class="form-check-input" type="checkbox" value="" disabled="" id="flexCheckChecked" {{ hall.permissions.isPaymentSchedulesWrite ? 'checked=""' : '' }} >
                                            </div>
                                        </div>
                                        <div class="col-10 mt-2">
                                            <div class="form-check disabled">
                                                <label class="form-check-label" for="flexCheckChecked">Accès aux échéanciés de paiement </label>
                                                <input class="form-check-input" type="checkbox" value="" disabled="" id="flexCheckChecked" {{ hall.permissions.isPaymentSchedulesAdd ? 'checked=""' : '' }} >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="navigation d-flex justify-content-center mt-5">
        {{ knp_pagination_render(halls) }}
        {% else %}
        <h2 class="mt-5">Il n'y a pas de permissions pour le moment</h2>
        {% endif %}
    </div>
{% endblock %}
