{% extends 'base.html.twig' %}

{% block title %}My Apps | Salles{% endblock %}

{% block body %}
    <h1 class="m-5">Gérer les Salles</h1>
        <div class="container">
            {% for message in app.flashes('success-salle') %}
                <div class="alert alert-success mt-4">
                    {{ message }}
                </div>
            {% endfor %}
            {% if not halls.items is same as ([]) %}
                <div class="row justify-content-between">
                    <p class="col">Il y'a {{ halls.getTotalItemCount }} salle(s) au total</p>
                    <div class="col d-flex justify-content-end">
                        <a class="btn btn-outline-success" href="{{ path('app_salle_ajouter') }}">Ajouter une salle</a>
                    </div>
                </div>
                <div class="row justify-content-around">
                    {% for hall in halls %}
                        <div class=" col-11 mt-5 bg-secondary rounded shadow {{ hall.isactive ? '' : 'opacity-75' }}">
                            <div class="row p-0 justify-content-between bg-primary text-light">
                                <div class="{{ hall.isactive ? 'text-light' : 'text-danger' }} col-lg-8 col-12 mt-2 fs-2">
                                    <p class="text-center text-light">{{ hall.isActive ? 'Salle en activitée :' : 'Salle en inactivitée: ' }} {{ hall.name }} </p>
                                </div>
                                <div class="row col-lg-3 col-10 m-1">
                                    <div class="col d-flex justify-content-end">
                                        <a type="button" class="btn btn-outline-warning rounded btn-sm me-4" href=" {{ path('app_salle_editer', {id: hall.id}) }}">Editer</a>
                                        <a type="button" class="btn btn-outline-danger rounded btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal{{ hall.id }}">Supprimer</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-0">

                                <div class="row">
                                        <img alt="image de salle de sport" class="col-lg-5 col-12 " height="400px" src="{{ vich_uploader_asset(hall, 'imageFile') }}">
                                    <div class="card-text mt-2 pt-3 col-lg-6 col-12 fs-4">
                                        <div class="row">
                                            <p class="col-4 text-primary">Gérant(e) de la Franchise:</p>
                                            <p class="col">{{ hall.leader.civility}} {{ hall.leader.name}} {{ hall.leader.firstname}}</p>
                                        </div>
                                        {% if hall.leaderHall == null %}
                                        {% else %}
                                            <div class="row">
                                                <p class="col-4 text-primary">Gérant(e) de la salle:</p>
                                                <p class="col">{{ hall.leaderHall.civility}} {{ hall.leaderHall.name}} {{ hall.leaderHall.firstname}}</p>
                                            </div>
                                        {% endif %}
                                        <div class="row">
                                            <p class="col-4 text-primary">Adresse: </p>
                                            <p class="col">{{ hall.streetNumber }} {{ hall.adress }} {{ hall.postalCode }} {{ hall.city }}</p>
                                        </div>
                                        <div class="row">
                                            <p class="col-4 text-primary">Téléphone:</p>
                                            <p class="col">{{ hall.phone }}</p>
                                        </div>
                                        <div class="row">
                                            <p class="col-4 text-primary">Déscription:</p>
                                            {% if hall.shortDescription == '' %}
                                                <p class="col">Cette salle ne possède aucune description</p>
                                            {% else %}
                                                <p class="col">{{ hall.shortDescription }}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                </div>
        <div class="navigation d-flex justify-content-center mt-5">
            {{ knp_pagination_render(halls) }}
            {% else %}
                <h2 class="mt-5 lh-lg">Aucune salle pour le moment, veuillez cliquer sur le bouton ajouter pour commencer!</h2>
                <div class="col d-flex justify-content-end">
                    <a class="btn btn-outline-success" href="{{ path('app_salle_ajouter') }}">Ajouter une salle</a>
                </div>
            {% endif %}
        </div>


    {% for hall in halls %}
        <!-- Modal delete-->
        <div class="modal fade" id="deleteModal{{ hall.id }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Voulez-vous supprimer la salle: {{ hall.name }}?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-danger">
                        <p>Attention toutes modifications est définitive!</p>
                        <p>En supprimant la salle vous acceptez de supprimer la permission associé!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fermer</button>
                        <a href="{{ path('app_salle_supprimer', {id: hall.id}) }}" type="button" class="btn btn-danger">Supprimer</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}


{% endblock %}


