{% extends 'base.html.twig' %}

{% block title %}Gérants de salles{% endblock %}

{% block body %}

    {{ dump() }}
    <h1 class="m-5">Gérer les gérants de salles</h1>
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}
        {% if not users.items is same as ([]) %}
            <div class="row justify-content-between">
                <p class="col">Il y'a {{ users.getTotalItemCount }} gérant(s) de salle au total</p>
                <div class="col d-flex justify-content-end">
                    <a class="btn btn-outline-success" href="{{ path('app_user_add') }}">Ajouter un Gérant de salle</a>
                </div>
            </div>


            <div class="row justify-content-around mt-5">
                {% for user in users %}
                    <div class="card col-5 mt-5">
                        <div class="card-body">
                            <h5 class="card-title border-bottom pb-3">{{ user.civility }} {{ user.name }} {{ user.firstname }}</h5>
                            <div class="card-text mt-4 border-bottom">
                                <div class="d-flex justify-content-around mt-3">
                                    <h6 class="fs-4">Roles:</h6>
                                    {% if user.civility == 'Mr' %}
                                        <p>Gérant de salle</p>
                                    {% else %}
                                        <p>Gérante de salle</p>
                                    {% endif %}
                                </div>
                            </div>
                            <h6 class="card-subtitle mb-2 text-muted m-3">E-Mail: {{ user.email }}</h6>
                            <h6 class="card-subtitle mb-2 text-muted m-3">Tél: {{ user.phone }}</h6>
                            <div class="mt-3">
                                <a type="button" class="btn btn-outline-primary rounded btn-sm me-4" data-bs-toggle="modal" data-bs-target="#editModal{{ user.id }}">Modifier</a>
                                <a type="button" class="btn btn-outline-danger rounded btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal{{ user.id }}">Supprimer</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="navigation d-flex justify-content-center mt-5">
                    {{ knp_pagination_render(users) }}
        {% else %}
            <h2 class="lh-lg">Aucun gérant de salle pour le moment, veuillez cliquer sur le bouton ajouter pour commencer!</h2>
            <div class="col d-flex justify-content-end">
                <a class="btn btn-outline-success" href="{{ path('app_user_add') }}">Ajouter un Gérant de salle</a>
            </div>
        {% endif %}
            </div>
    </div>

    {% for user in users %}
        <!-- Modal delete-->
        <div class="modal fade" id="deleteModal{{ user.id }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Voulez-vous supprimer l'utilisateur: {{ user.name }} {{ user.firstname }}?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-danger">
                        <p>Attention toutes supressions est définitive!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fermer</button>
                        <a href="{{ path('app_user_delete', {id: user.id}) }}" type="button" class="btn btn-danger">Supprimer</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal edit-->
        <div class="modal fade" id="editModal{{ user.id }}" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Voulez-vous modifier l'utilisateur {{ user.name }} {{ user.firstname }}?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-warning">
                        <p>Attention toutes modifications est définitive!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fermer</button>
                        <a href=" {{ path('app_user_edit', {id: user.id}) }}" type="button" class="btn btn-warning">Modifier</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
