{% extends 'base.html.twig' %}

{% block title %}Gérants de salles{% endblock %}


{% block body %}
    <style>
        @media only screen and (max-width: 1200px){
            table, thead, tbody, tr, th, td{
                display: block;
            }
            thead{
                display: none;
            }
            td{
                padding-left: 150px;
                position: relative;
                background: #fff;
                margin-top: -1px;
            }
            td:nth-child(odd){
                background: #f3f3f3;
            }
            td::before{
                content: attr(data-label);
                position: absolute;
                top: 0;
                left: 0;
                width: 130px;
                bottom: 0;
                background: #b7b7b7;
                color: black;
                display: flex;
                align-items: center;
                padding-left: 20px;
            }
            tr{
                margin-bottom: 2rem;
            }
        }
    </style>
    <div class="d-flex justify-content-around mt-5">
        <h1 >Listes des gérants de salle</h1>
        <a class="btn btn-outline-success" href="{{ path('app_user_add') }}">Ajouter un gérant</a>
    </div>
    <div class="row justify-content-between m-5">
        <p id="itemsNumber" class="col"></p>
        <input class="col-6" type="text" id="search" placeholder="Chercher un gérant de salle">
    </div>
    {% if not leadersHall.items is same as ([]) %}
        <div class="container">
            <div class="row justify-content-around">
                <div class="form-check form-switch col-11 fs-4">
                    <input class="form-check-input" type="checkbox" id="switch"  checked="">
                    <label class="form-check-label" for="switch">Filtre active</label>
                </div>
                <div class="col-12">
                    <table class="table table-hover">
                        <thead>
                        <tr class="table-primary text-center">
                            <th scope="col">Nom et prénom</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Ville</th>
                            <th scope="col">Téléphone</th>
                            <th scope="col">Active</th>
                            <th scope="col">Apperçu</th>
                            <th scope="col">Modifier</th>
                            <th scope="col">Supprimer</th>
                        </tr>
                        </thead>
                        <tbody id="searchResult" class="text-center"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="navigation d-flex justify-content-center mt-5">
             {{ knp_pagination_render(leadersHall) }}
    {% else %}
        <h2 class="mt-5">Il n'y a rien dans la liste actuellement pour commencer ajouter des gérants</h2>
        <a class="btn btn-outline-success" href="{{ path('app_ajouter_leader') }}">Ajouter un gérant</a>
    {% endif %}
    </div>

    {% for leader in leadersHall %}
        <!-- Modal edit-->
        <div class="modal fade" id="editModal{{ leader.user.id }}" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Voulez-vous modifier le gérant: {{ leader.user.name }} {{ leader.user.firstname }}?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-warning">
                        <p>Attention toutes modifications est définitive!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fermer</button>
                        <a href=" {{ path('app_user_edit', {id: leader.user.id}) }}" type="button" class="btn btn-warning">Modifier</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal delete-->
        <div class="modal fade" id="deleteModal{{ leader.user.id }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Voulez-vous supprimer le gérant: {{ leader.user.name }} {{ leader.user.firstname }}?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-danger">
                        <p>Attention toutes supressions est définitive!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fermer</button>
                        <a href="{{ path('app_user_delete', {id: leader.user.id}) }}" type="button" class="btn btn-danger">Supprimer</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}

    <script>

        let leadersHall = JSON.parse({{ leadersHallSerialze | json_encode| raw}})

        const searchInput = document.querySelector("#search")
        const searchResult = document.querySelector("#searchResult")
        let itemsNumber = document.querySelector("#itemsNumber")

        //This function create user list in the dom
        function CreateUserList(dataList){
            dataList.forEach(element => {

                let url = Routing.generate('app_leader_hall_view',{id:''+element.id+''} )
                let textActive =''
                element.user.isActive ? textActive='oui' : textActive='non'


                const listItem = document.createElement("tr")
                listItem.innerHTML = `
                    <td data-label="Nom Prénom">${element.user.civility} ${element.user.name} ${element.user.firstname}</td>
                    <td data-label="E-mail">${element.user.email}</td>
                    <td data-label="Ville">${element.user.city}</td>
                    <td data-label="Tél.">${element.user.phone}</td>
                    <td data-label="Active">${textActive}</td>
                    <td data-label="Salles"><a href="${url}" type="button" class="text-info">Salles</a></td>
                    <td data-label="Modifier"><a type="button" class="" data-bs-toggle="modal" data-bs-target="#editModal${element.user.id}">Modifier</a></td>
                    <td data-label="Supprimer"><a type="button" class="text-danger" data-bs-toggle="modal" data-bs-target="#deleteModal${element.user.id}">Supprimer</a></td>
                    `
                itemsNumber.innerText = 'Il y a '+dataList.length+' item(s) au total'

                searchResult.appendChild(listItem)
            })
        }
        CreateUserList(leadersHall)

        //This function filter the user list with the name and firstname
        searchInput.addEventListener("input", filterData)
        function filterData(e) {
            searchResult.innerHTML = ""
            const searchedString = e.target.value.toLowerCase()
            const filteredArr = leadersHall.filter(el => el.user.name.toLowerCase().includes(searchedString) || el.user.firstname.toLowerCase().includes(searchedString))
            CreateUserList(filteredArr)

            if ( filteredArr.length === 0 ) {
                itemsNumber.innerText = 'Aucun utilisateur trouvé'
            }
        }
        let buttonSwitch = document.querySelector('#switch')


        //This function return user active or no active with the switch
        buttonSwitch.addEventListener('input', filterDataActive);

        function filterDataActive(e){
            let valueSwitch = e.target.checked
            searchResult.innerHTML = ""

                if (valueSwitch === true){
                    const dataActive = leadersHall.filter(el=> el.user.isActive === true)
                    CreateUserList(dataActive)
                }else{
                    const dataNoActive = leadersHall.filter(el=> el.user.isActive === false)
                    CreateUserList(dataNoActive)
                }
        }
    </script>
{% endblock %}

