{% extends 'base.html.twig' %}

{% block title %}Gérants de salles{% endblock %}

{% block body %}
    {% if leaderHall.hall is null %}
    <h1 class="m-5">{{ leaderHall.civility}} {{ leaderHall.name }} {{ leaderHall.firstname }} ne possède aucune salle pour le moment!
    {% else %}

    <h1 class="m-5">Gérant {{ leaderHall.civility}} {{ leaderHall.name }} {{ leaderHall.firstname }}</h1>
    <div class="container">

        {% for message in app.flashes('success-salle') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}
        <div class="row justify-content-around mb-5">
                <div class=" col-12 mt-5 p-0 row bg-secondary rounded shadow {{ leaderHall.isactive ? '' : 'opacity-75' }}">
                    <div class="row p-0 col-12 bg-primary text-light">
                        <div class="{{ leaderHall.isactive ? 'text-light' : 'text-danger' }} fs-4 col-12">
                            <p class="text-center">{{ leaderHall.isactive ? 'Salle en activitée:' : 'Salle en inactivitée: ' }} {{ leaderHall.hall.name|title }} </p>
                        </div>
                            <div class="row justify-content-around col-12 m-1">
                                <a href="{{ path('app_editer', {id: leaderHall.hall.permissions.id}) }}" type="button" class="btn btn-outline-warning rounded btn-sm col-3">Editer les permissions</a>
                                <a href="{{ path('app_salle_editer', {id: leaderHall.hall.id}) }}" type="button" class="btn btn-outline-warning  rounded btn-sm col-3" >Editer la salle</a>
                                <a type="button" class="btn btn-danger rounded btn-sm col-3" data-bs-toggle="modal" data-bs-target="#deleteModal{{ leaderHall.id }}">Supprimer</a>
                            </div>
                    </div>
                    <div class="m-3 col-12">
                        <div class="row justify-content-around">
                            <div class="card-text mt-2 col-lg-5 col-12 fs-4">
                                <div class="row">
                                    <p class="col-4 text-primary">Adresse: </p>
                                    <p class="col">{{ leaderHall.hall.streetNumber }} {{ leaderHall.hall.adress }} {{ leaderHall.hall.postalCode }} {{ leaderHall.hall.city }}</p>
                                </div>
                                <div class="row">
                                    <p class="col-4 text-primary">Téléphone:</p>
                                    <p class="col">{{ leaderHall.hall.phone }}</p>
                                </div>
                                <div class="row">
                                    <p class="col-12 text-primary">Déscription:</p>
                                    <p class="col12">{{ leaderHall.hall.shortDescription }}</p>
                                </div>
                                <p class="text-danger fs-4">{{ leaderHall.hall.isactive ? '' : 'Cette salle n\'est pas en activitée actuellement' }}</p>
                            </div>
                                <div class="col-lg-6 col-12 mb-5">
                                    <div class="card-text mt-3 row justify-content-end">
                                        <div class="col-10 mt-2">
                                            <div class="form-check disabled">
                                                <label class="form-check-label" for="flexCheckChecked">Vendre des boissons</label>
                                                <input class="form-check-input" type="checkbox" value="" disabled="" id="flexCheckChecked" {{  leaderHall.hall.permissions.isSellDrinks  ? 'checked=""' : '' }} >
                                            </div>
                                        </div>
                                        <div class="col-10 mt-2">
                                            <div class="form-check disabled">
                                                <label class="form-check-label" for="flexCheckChecked">Modifier le statut d'un membre</label>
                                                <input class="form-check-input" type="checkbox" value="" disabled="" id="flexCheckChecked" {{ leaderHall.hall.permissions.isMembersWrite ? 'checked=""' : '' }} >
                                            </div>
                                        </div>
                                        <div class="col-10 mt-2">
                                            <div class="form-check disabled">
                                                <label class="form-check-label" for="flexCheckChecked">Accès au statut d'un membre</label>
                                                <input class="form-check-input" type="checkbox" value="" disabled="" id="flexCheckChecked" {{ leaderHall.hall.permissions.isMembersRead ? 'checked=""' : '' }} >
                                            </div>
                                        </div>
                                        <div class="col-10 mt-2">
                                            <div class="form-check disabled">
                                                <label class="form-check-label" for="flexCheckChecked">Ajouter un membre</label>
                                                <input class="form-check-input" type="checkbox" value="" disabled="" id="flexCheckChecked" {{ leaderHall.hall.permissions.isMembersAdd ? 'checked=""' : '' }} >
                                            </div>
                                        </div>
                                        <div class="col-10 mt-2">
                                            <div class="form-check disabled">
                                                <label class="form-check-label" for="flexCheckChecked">Voir les statistiques d'un membre</label>
                                                <input class="form-check-input" type="checkbox" value="" disabled="" id="flexCheckChecked" {{ leaderHall.hall.permissions.isMembersStatistiqueRead ? 'checked=""' : '' }} >
                                            </div>
                                        </div>
                                        <div class="col-10 mt-2">
                                            <div class="form-check disabled">
                                                <label class="form-check-label" for="flexCheckChecked">Modifier les échéanciés de paiement </label>
                                                <input class="form-check-input" type="checkbox" value="" disabled="" id="flexCheckChecked" {{ leaderHall.hall.permissions.isPaymentSchedulesWrite ? 'checked=""' : '' }} >
                                            </div>
                                        </div>
                                        <div class="col-10 mt-2">
                                            <div class="form-check disabled">
                                                <label class="form-check-label" for="flexCheckChecked">Accès aux échéanciés de paiement </label>
                                                <input class="form-check-input" type="checkbox" value="" disabled="" id="flexCheckChecked" {{ leaderHall.hall.permissions.isPaymentSchedulesAdd ? 'checked=""' : '' }} >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
        <!-- Modal delete-->
        <div class="modal fade" id="deleteModal{{ leaderHall.id }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Voulez-vous supprimer la salle: {{ leaderHall.name }}?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-danger">
                        <p>Attention toutes suppressions est définitive!</p>
                        <p>En supprimant une salle vous acceptez de supprimer la permission associé!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        <a href="{{ path('app_salle_supprimer', {id: leaderHall.hall.id}) }}" type="button" class="btn btn-danger">Supprimer</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}